html, body, .app-container {
    height: 100%;
}

.app-container {
    background: #f0f0f0;
    background: linear-gradient(180deg, #f0f0f0  0%, #f0f0f0 66%, #c7dae8 100%);
}

body {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#dateTime {
    z-index: 2;
}

#dateTime {
    z-index: 2;
}

#appContainer {
    padding-bottom: 100px;
}

.header-container {
    background: linear-gradient(180deg, #c7dae8 0%, #f0f0f0 66%, #f0f0f0 100%);
}

#toDoListAddItemContainer {
    box-shadow: 0 0px 16px rgba(0,0,0,.2);
}

.transition {
    transition: all .33s ease-in-out;
}

.scale_lg:hover {
    transform: scale(1.25);
}

.scale_xl:hover {
    transform: scale(1.5);
}
